/* @override http://localhost:9000/public/stylesheets/main.css */

body {
    font-family: Verdana, sans-serif;
    font-size: 12pt;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: red;
    float: left;
    margin: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.shine {
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.2) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.2))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); /* IE10+ */
background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.2) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#33ffffff',GradientType=0 ); /* IE6-9 */
    height: 30px;
    width: 50px;
    box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.7);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 33px 13px;
    border-bottom-left-radius: 33px 13px;
}

.topbar-wrapper {
	height: 80px;
}
.topbar-inner {
	height: 80px;
	padding-left: 20px;
}
#banner {
	height: 193px;
	width: 139px;
    background-image: url("/public/images/logo-challenge.png");
	position: absolute;
	top: 0;
	right: 40px;
	text-align: center;
}
#banner h1 {
	color: whitesmoke;
	font-weight: lighter;
	font-size: 18px;
	text-decoration: none;
}
a#banner:hover {
	text-decoration: none;
	border-top: 4px solid silver;
}
.content {
    margin-top: 60px;
}
.primary {
	background-color: #32232a;
	width: 100%;
	padding-bottom: 12px;
	border-bottom: 1px solid #975974;
}
.secondary {
	border-top: 1px solid #3b0f23;
	padding-top: 12px;
	background-color: #d5d5d5;
	width: 100%;
}
.round-box {
	background-color: whitesmoke;
	margin: 12px 0;
	padding: 8px;
	    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}
h1, h2,h3,h4 {
	font-family: "CorbelRegular";
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	text-transform: lowercase
}
.tag {
	background-color: #767492;
	margin: 1px 0px;
	
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
	padding: 1px 4px;
}
.tag-category ul {
	margin: 0;
}

.tag-category h3 {
	color: silver;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	font-weight: lighter;
	font-size: 12px;
}


.tag a, .tag-icon a {
	color:  whitesmoke;
}
li.tag:hover, li.tag a:hover {
	text-decoration: none;
	color: whitesmoke;
	background-color: #a9abd1;
	cursor: pointer;
}


