#{extends 'main.html' /}
#{set title:'Add an Application to the Heroku Template Repository' /}
#{set 'moreStyles'}

<link rel="stylesheet" href="@{'/public/colorbox.css'}"/>
<style type="text/css" media="screen">
    .tag a {
        color: #32232a;
    }
</style>
#{/set}
#{set 'moreScripts'}

<script type="text/javascript" src="@{'/public/javascripts/jquery.colorbox-min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.hint.js'}"></script>
<script type="text/javascript">
    function add_tag(id, tag) {
        var e = $("#" + id)
        var v = e.val();
        if (v.split(/, */).indexOf(tag) > -1) return;
        e.val(v.length == 0 ? tag : v + ", " + tag)
    }
    function share_app(app) {
        $("#share_form input[name=name]").val(app.name);
        $("#share_form select[name=stack]").val(app.stack);
        $("#share_form input[name=herokuapp]").val(app.url);

        var addons=[];
        var tags = app.categories.addon.tags;
        for (var prop in tags) {
            if (tags.hasOwnProperty(prop)) {
                addons.push(prop);
            }
        }
        $("#share_form input[name=addon]").val(addons.join(", "));
    }
    function selected_app() {
        var json = $("#herokuapps").val();
        if (!json) return {};
        return $.parseJSON(json);
    }
</script>
#{/set}

<div class="primary">
    <div class="container">
        <div class="row">
            <div class="span16 round-box">
                <h4>Share your Applications</h4>
            #{if flash.error}
                <p style="color:#c00">
                ${flash.error}
                </p>
            #{/if}
            #{ifnot app}
                #{ifnot apps.empty}
                <h5>Your Heroku Apps</h5>
                <select id="herokuapps" style="width: 50%">
                #{list items:apps, as:'myapp'}
                        <option value="${myapp.json}">
                            ${myapp.name} (${myapp.stack}) ${myapp.tags}
                        </option>
                #{/list}
                </select>
                <button class="btn" onclick="share_app(selected_app());">
                    share
                </button>
                <a class="btn" target="_blank" onclick="document.location.href='http://heroku.com/myapps/'+selected_app().name; return false;" href="#">Heroku Page</a>
                <a class="btn" target="_blank" onclick="document.location.href=selected_app().url; return false;"href="#">Website</a>
            #{/ifnot}
            #{ifnot sharedApps.empty}
                <h5>Your Shared Apps</h5>
                #{list items:sharedApps, as:'sharedApp'}
                    <div>
                        <a href="${sharedApp.url}" target="_blank">${sharedApp.name}</a> (<a href="${sharedApp.repository}">Source
                        Code</a>,<a href="${sharedApp.url}">Website</a>,<a href="/update/${sharedApp.id}">edit</a>, ${sharedApp.tags})
                        <!-- todo addons, etc -->
                    </div>
                #{/list}
            #{/ifnot}
            #{/ifnot}
                <h5>Share an App</h5>

                <form id="share_form" action="#{if app}@{Application.updateApp()}#{/if}#{else}@{Application.addApp()}#{/else}" method="POST">
                    <table>
                        #{ifnot app}
                        <tr>
                            <td>
                                Your Heroku Email:
                            </td>
                            <td colspan="2">
                                <input name="email" type="email" value="${session?.email}"/><br/>
                            </td>
                        </tr>
                        #{/ifnot}
                        #{else }
                            <input type="hidden" name="id" value="${app.id}"/>
                        #{/else}
                        <tr>
                            <td>
                                App Name:
                            </td>
                            <td colspan="2">
                                <input name="name" value="${app?.name}"/><br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Description:
                            </td>
                            <td colspan="2">
                                <textarea name="description" rows="5" cols="80">
                                ${app?.description}
                                </textarea><br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Heroku Demo:
                            </td>
                            <td>
                                <input name="herokuapp" type="url" placeholder="http://appname.herokuapp.com" value="${app?.url}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Stack:
                            </td>
                            <td colspan="2">
                                <select name="stack"/>
                                <option value="cedar" #{if app?.stack=="cedar" || !app}selected="selected"#{/if}>Cedar</option>
                               	<option value="bamboo" #{if app?.stack=="bamboo"}selected="selected"#{/if}>Bamboo</option>
                               	<option value="aspen" #{if app?.stack=="aspen"}selected="selected"#{/if}>Aspen</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Source Link:
                            </td>
                            <td colspan="2">
                                <input name="repository" type="url" placeholder="http://github.com/<you>/appname" value="${app?.repository}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Repository Git URL:
                            </td>
                            <td>
                                <input name="giturl" type="url" placeholder="git://github.com/<you>/<appname>.git" value="${app?.gitUrl}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Documentation URL:
                            </td>
                            <td>
                                <input name="docurl" type="url" placeholder="link to blog post or article" value="${app?.docurl}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Screencast URL:
                            </td>
                            <td>
                                <input name="videourl" type="url" placeholder="link to youtube or other video url" value="${app?.videourl}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Application Type:
                            </td>
                            <td>
                                <input id="type" name="type" value="${app?.getTags("type")?.join(", ")}"/>
                            </td>
                            <td class="tag-category">
                                <ul>
                                #{list items:categories['type']?.tags, as:'tag'}
                                    <li class="tag">
                                    <a onclick="add_tag('type','${tag.name}')"><img
                                                src="#{if tag.icon}${tag.icon}#{/if}#{else }@{'/public/icons/blank.png'}#{/else}" title="${tag.name}"
                                                alt="${tag.name}"/><br/>${tag.displayName}</a>
                                    </li>
                                #{/list}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Language:
                            </td>
                            <td>
                                <input id="language" name="language" value="${app?.getTags("language")?.join(", ")}"/>
                            </td>
                            <td class="tag-category">
                                <ul>
                                #{list items:categories['language']?.tags, as:'tag'}
                                    <li class="tag">
                                    <a onclick="add_tag('language','${tag.name}')"><img
                                                src="#{if tag.icon}${tag.icon}#{/if}#{else }@{'/public/icons/blank.png'}#{/else}" title="${tag.name}"
                                                alt="${tag.name}"/><br/>${tag.displayName}</a>
                                    </li>
                                #{/list}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Framework:
                            </td>
                            <td>
                                <input id="framework" name="framework" value="${app?.getTags("framework")?.join(", ")}"/>
                            </td>
                            <td class="tag-category">
                                <ul>
                                #{list items:categories['framework']?.tags, as:'tag'}
                                    <li class="tag">
                                    <a onclick="add_tag('framework','${tag.name}')"><img
                                                src="#{if tag.icon}${tag.icon}#{/if}#{else }@{'/public/icons/blank.png'}#{/else}" title="${tag.name}"
                                                alt="${tag.name}"/><br/>${tag.displayName}</a>
                                    </li>
                              #{/list}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Build Tool:
                            </td>
                            <td>
                                <input id="build" name="build" value="${app?.getTags("build")?.join(", ")}"/>
                            </td>
                            <td class="tag-category">
                                <ul>
                                #{list items:categories['build']?.tags, as:'tag'}
                                <li class="tag">
                                    <a onclick="add_tag('build','${tag.name}')"><img
                                                src="#{if tag.icon}${tag.icon}#{/if}#{else }@{'/public/icons/blank.png'}#{/else}" title="${tag.name}"
                                                alt="${tag.name}"/><br/>${tag.displayName}</a>
                                    </li>
                                </ul>
                                #{/list}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Add-on:
                            </td>
                            <td>
                                <input id="addon" name="addon" value="${app?.getTags("addon")?.join(", ")}"/>
                            </td>
                            <td class="tag-category">
                                <ul>
                                #{list items:categories['addon']?.tags, as:'tag'}
                                    <li class="tag">
                                    <a onclick="add_tag('addon','${tag.name}')"><img
                                                src="#{if tag.icon}${tag.icon}#{/if}#{else }@{'/public/icons/blank.png'}#{/else}" title="${tag.name}"
                                                alt="${tag.name}"/><br/>${tag.displayName}</a>
                                    </li>
                                #{/list}
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" name="submit" value="Save"/>
                </form>

                <a href="@{Application.index()}">Back to index</a>
            </div>
        </div>
    </div>
</div>