#{extends 'main.html' /}
#{set title:'Gensen - the Heroku Template Repository' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/colorbox.css'}"/>
<link rel="stylesheet" href="@{'/public/stylesheets/index.css'}"/>

#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/jquery.colorbox-min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.hint.js'}"></script>
<script type="text/javascript">
    function add_tag(cat, tag) {
        var tagId = "#"+cat+"_"+tag;
        var tagElement = $(tagId);
        var selected = tagElement.hasClass("tag_selected");
        if (!selected) {
            tagElement.addClass("tag_selected");
        } else {
            tagElement.removeClass("tag_selected");
        }
        console.log(tagId+" "+selected);
        var e = $("#input_tags");
        var v = e.val();
        var add = cat + "/" + tag;
        if (v.split(/, */).indexOf(add) > -1) return;
        e.val(v.length == 0 ? add : v + ", " + add);
    }

    $(document).ready(function() {
        var tags=$("#input_tags").val().split(/, */);
        for (var i=0;i<tags.length;i++) {
            var tag=tags[i].replace("/","_");
            console.log(tag);
            $("#"+tag).addClass("tag_selected");
        }
    });
</script>
#{/set}


<div id="intro">
             <form action="/" method="get" style="position:relative;left:15%;width:65%">
                 <input id="input_tags" type="text" name="tags" value="${tags}"/>
                 <input style="width:75%;display: inline;" type="text" name="q" placeholder="search for title or description" value="${q}"/>
                 <button style="width: 10%" class="btn primary">Search</button>
                 <button style="width: 10%" class="btn" onclick="document.location.href='/';return false;">All</button>
                 <!--input type="submit" name="search" value="search for matching templates"/-->
             </form>
</div>
<div id="plan" class="primary">
  <div class="container">
    <div class="row">
        <div class="alpha span8 tag-category" id="cat-language">
                <h3>Language:</h3>
                #{set cat:categories['language']/}
                <ul>
                #{list items:cat?.tags, as:'tag'}
                    <li class="tag" id="${cat.name}_${tag.name}">
                        <a onclick="add_tag('${cat.name}','${tag.name}')"><img
                                    src="#{if tag.icon}${tag.icon}#{/if}#{else }@{'/public/icons/blank.png'}#{/else}" title="${tag.name}"
                                    alt="${tag.name}"/><br/>${tag.displayName}</a>
                    </li>
                #{/list}
                </ul>
        </div>
        <div class="span8 tag-category" id="cat-build">
                <h3>Build Tool: </h3>
                <ul>
                #{set cat:categories['build']/} #{list items:cat?.tags, as:'tag'}
                    <li class="tag" id="${cat.name}_${tag.name}">
                        <a onclick="add_tag('${cat.name}','${tag.name}')"><img
                                    src="#{if tag.icon}${tag.icon}#{/if}#{else }@{'/public/icons/blank.png'}#{/else}" title="${tag.name}"
                                    alt="${tag.name}"/><br/>${tag.displayName}</a>
                    </li>
                #{/list}
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="alpha span8 tag-category" id="cat-framework">
                <h3>Framework: </h3>
                <ul>
                #{set cat:categories['framework']/}  #{list items:cat?.tags, as:'tag'}
                    <li class="tag" id="${cat.name}_${tag.name}">
                        <a onclick="add_tag('${cat.name}','${tag.name}')"><img
                                    src="#{if tag.icon}${tag.icon}#{/if}#{else }@{'/public/icons/blank.png'}#{/else}" title="${tag.name}"
                                    alt="${tag.name}"/><br/>${tag.displayName}</a>
                    </li>
                #{/list}
                </ul>
        </div>
        <div class="span8 tag-category" id="cat-type">
                <h3>Type: </h3>
                <ul>
                #{set cat:categories['type']/}  #{list items:cat?.tags, as:'tag'}
                    <li class="tag" id="${cat.name}_${tag.name}">
                        <a onclick="add_tag('${cat.name}','${tag.name}')"><img
                                    src="#{if tag.icon}${tag.icon}#{/if}#{else }@{'/public/icons/blank.png'}#{/else}" title="${tag.name}"
                                    alt="${tag.name}"/><br/>${tag.displayName}</a>
                    </li>
                #{/list}
                </ul>
        </div>
    </div>
    <div class="row" id="addons">
        <div class="alpha span16 tag-category" id="cat-addon">
            <h3>Add-On:</h3>
                #{set cat:categories['addon']/}
                    <ul>
                #{list items:cat?.tags, as:'tag'}
                    <li class="tag" id="${cat.name}_${tag.name}">
                    <a onclick="add_tag('${cat.name}','${tag.name}')"><img
                                src="#{if tag.icon}${tag.icon}#{/if}#{else }@{'/public/icons/blank.png'}#{/else}" title="${tag.name}"
                                alt="${tag.name}"/><br/>${tag.displayName}</a>
                    </li>
                #{/list}
                    </ul>
        </div>
    </div>
  </div>
</div> <!-- plan -->
    
<div id="choose" class="secondary">
    <div class="container">
    <div clas="row">
        <div class="alpha span16">

            <table id="apps">

            #{list items:apps, as:'app'}
                <tr>
                    <td>
                        <a href="/install/${app.id}"><img src="/public/icons/download.png" style="height: 16px;"/></a>
                    </td>
                    <td>
                        <a href="#{if app.isOwner(session.email)}/update/#{/if}#{else}/show/#{/else}${app.id}">${app.name}</a>
                    </td>
                    <td>
                        <img src="/public/icons/5-stars.png"
                             style="background-image:url(/public/icons/yellow.jpg); background-repeat: no-repeat; background-size: ${(int)(app.stars*100/5)}% 100%;height:16px;" title="${app.stars} Stars"
                             alt="${app.stars} Stars"/></a>
                    </td>
                    <td>
                    ${app.categoryTags}, <a target="_blank" href="${app.url}">Demo</a>, <a href="${app.repository}">Source
                    Code</a>
                    </td>
                </tr>
            #{/list}
                <tr>
                    <td>
                        <a href="/install"><img src="/public/icons/download.png" style="height: 16px;"/></a>
                    </td>
                    <td>Custom Git URL</td>
                     <td colspan="2"></td>
            </table>

        </div>
    </div>
    </div>
</div>
  <button style="width: 100%" id="shareAppButton" class="btn primary">Share</button>
</div>
