#{extends 'main.html' /}
#{set title:'Gensen - the Heroku Template Repository' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/colorbox.css'}"/>
<link rel="stylesheet" href="@{'/public/stylesheets/index.css'}"/>

</style>
#{/set}
#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/jquery.colorbox-min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.hint.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/pickapp.js'}"></script>
#{/set}


<div id="intro">
  <div class="container">
    <div class="row">
        <h2>create a new project from a template</h2>
        <div class="span-one-third">
            <h3>Plan</h3>
            <p>Prepare for a new project by choosing the features of your stack</p>
        </div>
        <div class="span-one-third">
            <h3>Select</h3>
            <p>Choose a template project that matches your criteria</p>
        </div>
        <div class="span-one-third">
            <h3>Generate</h3>
            <p>Clone the project into your heroku account</p>
        </div>
    </div>
</div>
<div id="plan" class="primary">
  <div class="container">
    <div class="row">
        <div class="alpha span8 tag-category" id="cat-language">
                <h3>Language:</h3>
                #{set cat:categories['language']/}
                <ul>
                #{list items:cat?.tags, as:'tag'}
                    <li class="tag">
                        <a onclick="add_tag('${cat.name}','${tag.name}')">${tag.name}</a>
                    </li>
                #{/list}
                </ul>
        </div>
        <div class="span8 tag-category" id="cat-build">
                <h3>Build Tool: </h3>
                <ul>
                #{set cat:categories['build']/} #{list items:cat?.tags, as:'tag'}
                    <li class="tag">
                        <a onclick="add_tag('${cat.name}','${tag.name}')">${tag.name}</a>
                    </li>
                #{/list}
                </ul>
        </div>
    </div>
    <div class="row">
        <div class="alpha span16 tag-category" id="cat-framework">
                <h3>Framework: </h3>
                <ul>
                #{set cat:categories['framework']/}  #{list items:cat?.tags, as:'tag'}
                    <li class="tag">
                        <a onclick="add_tag('${cat.name}','${tag.name}')">${tag.name}</a>
                    </li>
                #{/list}
                </ul>
        </div>
    </div>
    <div class="row" id="addons">
        <div class="alpha span16 tag-category" id="cat-addon">
            <h3>Add-On:</h3>
                #{set cat:categories['addon']/}
                    <ul>
                #{list items:cat?.tags, as:'tag'}
                    <li class="tag-icon">
                    #{if tag.icon}
                        <a onclick="add_tag('${cat.name}','${tag.name}')"><img
                                src="${tag.icon}" title="${tag.name}"
                                alt="${tag.name}"/><br/>${tag.displayName}</a>
                    #{/if}
                    #{else }
                    <a onclick="add_tag('${cat.name}','${tag.name}')"><img
                                src="@{'/public/icons/anonymous.png'}" title="${tag.name}"
                                alt="${tag.name}"/><br/>${tag.displayName}</a>
                    #{/else}
                    </li>
                #{/list}
                    </ul>
        </div>
    </div>
    <div class="row">
        <div class="alpha span16">
            <form id="filter" action="/" method="get">
                <label for="freeform">Additional Terms:</label><input id="freeform" type="text" name="q" hint="name and or tags" value="${q}"/>
                <input id="input_tags" type="text" name="tags" value="${tags}"/>
                <input type="submit" name="search" value="search for matching templates"/>
            </form>
        </div>
    </div>
    <a href="/">All</a>
  </div>
</div> <!-- plan -->
    
<div id="choose" class="secondary">
    <div class="container">
    <div clas="row">
        <div class="alpha span16">

            <table id="apps">

            #{list items:apps, as:'app'}
                <tr>
                    <td>
                        <input type="radio" name="app" value="${app.name}"/>
                    </td>
                    <td>
                        <a href="#{if app.isOwner(session.email)}/update/#{/if}#{else}/show/#{/else}${app.id}">${app.name}
                    </td>
                    <td>
                        <img src="/public/icons/5-stars.png"
                             style="background-image:url(/public/icons/yellow.jpg); background-repeat: no-repeat; background-size: ${(int)(app.stars*100/5)}% 100%;height:16px;" title="${app.stars} Stars"
                             alt="${app.stars} Stars"/></a>
                    </td>
                    <td>
                    ${app.categoryTags}, <a target="_blank" href="${app.url}">Demo</a>, <a href="${app.repository}">Source
                    Code</a>
                    </td>
                </tr>
            #{/list}
                <tr>
                    <td>
                        <input id="customGitUrlRadio" type="radio" name="app" value="Custom git url"/>
                    </td>
                    <td>Custom git url</td>
                     <td colspan="2">
                        <input id="customGitUrl" type="text" title="git://github.com/foo/bar.git" style="display: none"/>
                     </td>
            </table>

        </div>
    </div>
    </div>
</div>
<div id="generate" class="container">
    <div class="row">
        <input style="width: 100%" id="emailAddress" type="text" title="foo@bar.com" class="required email"/><br/>
        <button style="width: 100%" id="shareAppButton" class="btn primary">Clone the template, giving access to account above</button>
        <br/>

        <div id="errors" style="color: #ff0000">
        </div>
    </div>
</div>

<img id="progressBar" src="@{'/public/images/progress.gif'}"
     style="display: none; top: 150px; left: 200px; position: absolute;"/>
<br/>

<div id="creatingApp" style="display: none;" class="row">

    <b>Your app is being created!</b><br/>
    <br/>
    Shortly you will receive an email that a new app has been shared with you. If you haven't yet signed up for a
    Heroku account, you will be provided an account activation link. Make sure your account has been activated
    before proceeding. While your app is being created watch a quick <a class='youtube'
                                                                        href="http://www.youtube.com/embed/PqLkjJvEMko?rel=0&wmode=transparent"
                                                                        title="Getting Started With Java on Heroku">Intro
    to Java on Heroku Video</a>.<br/>
</div>
<div id="appReady" style="display: none;">
    <div class="row">
        <h3>Your app is ready!</h3>

        <div id="step1">
            <h4>Step 1) Check out your app</h4>
            <!-- link here -->
        </div>
    </div>
    <div id="step2" class="row">
        <h4>Step 2) Setup your environment</h4>

        <h5>a) Install <a href="http://git-scm.com/download">git</a> (used to transfer the app to/from Heroku)</h5>

        <h5>b) Install the Heroku command line client on <a
                href="http://toolbelt.herokuapp.com/linux/readme">Linux</a>, <a
                href="http://toolbelt.herokuapp.com/osx/download">Mac</a>, or <a
                href="http://toolbelt.herokuapp.com/windows/download">Windows</a></h5>

    </div>
    <div class="row" class="row">
        <h4>Step 3) Login to Heroku from the command line</h4>

        <p class="codeExample">
            heroku login
        </p>

        This should also setup an SSH key and pair it with your Hekoku account.
    </div>
    <div class="row">
        <h4>Step 4) Copy the app from Heroku to your local machine</h4>

        <p id="step4" class="codeExample">

        </p>
    </div>
    <div class="row">
        <h4>Step 5) Makes some changes to the app</h4>
    </div>
    <div class="row">
        <h4>Step 6) Make sure the app still compiles locally</h4>

        <p id="step6" class="codeExample">

        </p>
    </div>
    <div class="row">
        <h4>Step 7) Add the changes to git, commit them, and push the changes to Heroku</h4>

        <p class="codeExample">
            git add .<br/>
            git commit -m "changed something"<br/>
            git push heroku master<br/>
        </p>
    </div>
    <div id="step8" class="row">
        <h4>Step 8) Check out your changes</h4>
        <!-- link here -->
    </div>
    <div class="row">
        <h4>Step 9) Keep learning by visiting the <a href="http://devcenter.heroku.com/tags/java">Heroku Dev
            Center</a></h4>
    </div>
</div>
