#{extends 'main.html' /}
#{set title:'Update your Application at the Heroku Template Repository' /}
#{set 'moreStyles'}

<link rel="stylesheet" href="@{'/public/colorbox.css'}" />
<style type="text/css" media="screen">
input.blur {
    color: #999;
}
.codeExample {
    background-color: #dddddd;
    margin-left: 30px;
    padding: 10px;
    font-family: monospace;
    font-size: 10pt;
}
h4 {
    font-size: 10pt;
}
h5 {
    margin-left: 20px;
    font-size: 8pt;
}
form {
    margin-top: 40px;
    font-size: 8pt;
}
label.app {
    width: auto;
    float: none;
    font-size: 16px;
}

input, select {
    font-size: 8pt;
}

a.tag:hover {
    text-decoration: underline;
}
</style>
#{/set}
#{set 'moreScripts'}

<script type="text/javascript" src="@{'/public/javascripts/jquery.colorbox-min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.hint.js'}"></script>
<script type="text/javascript">
    function add_tag(id, tag) {
        var e=$("#"+id)
        var v=e.val();
        if (v.split(/, */).indexOf(tag)>-1) return;
        e.val(v.length==0 ? tag : v + ", "+tag)
    }
</script>
#{/set}

<div style="max-width: 660px; padding-top: 40px">
<h4>Update your Application</h4>
#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}
<form action="@{Application.updateApp()}" method="POST">
   <input name="id" type="hidden" value="${app.id}"/>
   App Name: <input name="name" value="${app.name}"/><br/>
   Heroku Demo Page: <input name="herokuapp" type="url" hint="http://appname.herokuapp.com" value="${app.url}"/><br/>
    Stack: <select name="stack"/>
	<option value="cedar" #{if app.stack=="cedar"}selected="selected"#{/if}>Cedar</option>
	<option value="bamboo" #{if app.stack=="bamboo"}selected="selected"#{/if}>Bamboo</option>
	<option value="aspen" #{if app.stack=="aspen"}selected="selected"#{/if}>Aspen</option>
   </select><br/>
   Source Link: <input name="repository"  type="url" hint="http://github.com/<you>/appname" value="${app.repository}"/><br/>
   Repository Git URL: <input name="giturl" type="url" hint="git://github.com/<you>/<appname>.git" value="${app.gitUrl}"/><br/>
   Application Type: <input id="type" name="type" value="#{list items:app.categories['type']?.tags, as:'tag'} ${tag.name},  #{/list}"/> #{list items:categories['type']?.tags, as:'tag'} <a class="tag" onclick="add_tag('type','${tag.name}')">${tag.name}</a>  #{/list}<br/>
   Language: <input id="language" name="language" value="#{list items:app.categories['language']?.tags, as:'tag'} ${tag.name},  #{/list}"/>#{list items:categories['language']?.tags, as:'tag'} <a class="tag" onclick="add_tag('language','${tag.name}')">${tag.name}</a>  #{/list}<br/>
   Framework: <input id="framework" name="framework" value="#{list items:app.categories['framework']?.tags, as:'tag'} ${tag.name},  #{/list}"/> #{list items:categories['framework']?.tags, as:'tag'} <a class="tag" onclick="add_tag('framework','${tag.name}')">${tag.name}</a>  #{/list}<br/>
   Build Tool: <input id="build" name="build" value="#{list items:app.categories['build']?.tags, as:'tag'} ${tag.name},  #{/list}"/> #{list items:categories['build']?.tags, as:'tag'} <a class="tag" onclick="add_tag('build','${tag.name}')">${tag.name}</a>  #{/list}<br/>
   Add-On: <input id="addon" name="addOn" value="#{list items:app.categories['addon']?.tags, as:'tag'} ${tag.name},  #{/list}"/> #{list items:categories['addon']?.tags, as:'tag'} <a class="tag" onclick="add_tag('addon','${tag.name}')">${tag.name}</a>  #{/list}<br/>
   <input type="submit" name="submit" value="Save Application"/>
</form>

<a href="@{Application.index()}">Back to index</a>
</div>