#{extends 'main.html' /}
#{set title:'Application Info' /}
#{set 'moreStyles'}

<link rel="stylesheet" href="@{'/public/colorbox.css'}" />
<style type="text/css" media="screen">
input.blur {
    color: #999;
}
.codeExample {
    background-color: #dddddd;
    margin-left: 30px;
    padding: 10px;
    font-family: monospace;
    font-size: 10pt;
}
h4 {
    font-size: 10pt;
}
h5 {
    margin-left: 20px;
    font-size: 8pt;
}
form {
    margin-top: 40px;
    font-size: 8pt;
}
label.app {
    width: auto;
    float: none;
    font-size: 16px;
}

input, select {
    font-size: 8pt;
}

a.tag:hover {
    text-decoration: underline;
}
.comment {
    width: 80%;
}
</style>
#{/set}
#{set 'moreScripts'}

<script type="text/javascript" src="@{'/public/javascripts/jquery.colorbox-min.js'}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.hint.js'}"></script>
<script type="text/javascript">
    function stars_click(e,evt) {
        var stars=Math.round((evt.x-e.offsetLeft)/e.offsetWidth*10)/2;
        $("#stars").val(stars);
        $("#stars_image").css({"background-size":(stars*100/5)+"% 100%"})
    }
</script>
#{/set}

<div class="primary">
  <div class="container">
    <div class="row">
        <div class="span16 round-box">
        <h4>${app.name} <img src="/public/icons/5-stars.png" style="background-image:url(/public/icons/yellow.jpg); background-repeat: no-repeat; background-size: ${app.starsPercent} 100%;height:16px;" title="${app.stars} Stars" alt="${app.stars} Stars"/></h4>
        #{if flash.error}
            <p style="color:#c00">
                ${flash.error}
            </p>
        #{/if}
        <div>
           <span name="id" style="display: none;">${app.id}</span>
           Description: ${app.description}<br/>
            #{if app.docurl}
                <a href="${app.docurl}" target="_blank">Documentation</a><br/>
            #{/if}
           <a href="${app.url}" target="_blank">Heroku Demo Page</a><br/>
           Stack: ${app.stack}<br/>
           <a href="${app.repository}" target="_blank">Source Link</a><br/>
           #{if app.videourl}
               <iframe src="${app.videourl}" target="_blank">Documentation</iframe><br/>
           #{/if}
           Repository Git URL: ${app.gitUrl}<br/>
           Application Type: #{list items:app.categories['type']?.tags, as:'tag'} ${tag.name} #{/list} <br/>
           Language: #{list items:app.categories['language']?.tags, as:'tag'} ${tag.name}  #{/list}<br/>
           Framework: #{list items:app.categories['framework']?.tags, as:'tag'} ${tag.name}  #{/list}<br/>
           Build Tool: #{list items:app.categories['build']?.tags, as:'tag'} ${tag.name}  #{/list}<br/>
           Add-On: #{list items:app.categories['addon']?.tags, as:'tag'} ${tag.name}  #{/list}<br/>
           #{if session.email }
            #{set myrating: app.getRating(session.email)/}
            <form action="/like" method="POST">
               <input type="hidden" name="id" value="${app.id}"/>
               Rating: <img id="stars_image" src="/public/icons/5-stars.png" style="background-image:url(/public/icons/yellow.jpg); background-repeat: no-repeat; background-size: ${myrating?.starsPercent : "0%"} 100%;height:16px;" title="${myrating?.stars} Stars" alt="${myrating?.stars} Stars" onclick="stars_click(this,evt);"/>
               <input type="hidden" name="stars" value="${myrating?.stars}" id="stars"/>
               Comment: <input type="text" name="comment" value="${myrating?.comment}"/>
               <input type="submit" value="Rate"/>
               #{if myrating?.comment}
               <img style="vertical-align:middle; max-width: 24px; max-height: 24px;" src="/public/icons/twitter.jpg" onClick="window.open('https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fgensen.heroku.com%2F&source=tweetbutton&text=My opinion about &quot;${app.name}&quot; is &quot;${myrating?.comment}&quot;. I rated it with ${myrating?.stars} Stars&url=http%3A%2F%2Fgensen.heroku.com%2Fshow%2f${app.id}&via=heroku','tweet this app','height=400,width=400');return false;"/></a>
               #{/if}
           </form>
           #{/if}
           #{list items:app.ratings, as:'rating' }
           <div class="comment"><strong><!--img src="{gravatar.url rating.rater/}" class="gravatar"/--> ${rating.rater.replaceAll("(.{3}).*(@.+)","\$1...\$2")}</strong> said: ${rating.comment} <img src="/public/icons/5-stars.png" style="float:right;background-image:url(/public/icons/yellow.jpg); background-repeat: no-repeat; background-size: ${rating.starsPercent} 100%;height:16px;" title="${rating.stars} Stars" alt="${rating.stars} Stars"/></div>
           #{/list}
        </div>
        </div>


    </div>
  </div>
</div>
<a href="@{Application.index()}">Back to index</a>

